.content-add-info-window
    .content-add-info-window-content
        .content-add-info-window-content-top
            .content-add-info-window-content-top-line1
                .content-add-info-window-content-top-line1-left
                    p Введи заголовок
                .content-add-info-window-content-top-line1-right
                    input(id='btn-cancel' type='button' value='X')
            .content-add-info-window-content-top-line2
                .content-add-info-window-content-top-line2-input
                    input(id='text-title' type='text')
        .content-add-info-window-content-center
            p А тут текст
            input(id='text-content' type='area')
        .content-add-info-window-content-down
            input(id='btn-ok' type='button' value='OK')