header.header
    .header-top
        include ../navigation/main-nav
        .header-top__user-nav.user-nav
            a(href="").user-nav__link.link Войти
    .header-bottom
        include header-title

