// Colors
$white: #ffffff;
$black: #000000;
$bgcolor_dark: #d2d6ef;
$bgcolor_light: #f2f2f2;

// Sizes
$base-font-size: 16px;

$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);

//$content-size: 1200px;
$content-size: 95%;

// Fonts

// Images
$img-tree-i: url("/static/images/content/tree/i.gif");
$img-tree-i_half: url("/static/images/content/tree/i_half.gif");
$img-tree-expand_minus: url("/static/images/content/tree/expand_minus.gif");
$img-tree-expand_plus: url("/static/images/content/tree/expand_plus.gif");
$img-tree-expand_leaf: url("/static/images/content/tree/expand_leaf.gif");