extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var h1_title = 'ЗаголовоR на главной странице'

block content
	.main-page
		h3 Привет, друг
		h3 На этом сайте использовано:
		ul
			h4 Front
			li jQuery
			li ajax запросы к серверу
			li шаблонизатор pug
			li сборщик gulp
		ul
			h4 Back
			li maven проект java
			li web-сервер jetty
			li json формат передачи данных
			li соединение с БД MySql
			li логирование log4j
			li настройки сервера из файла конфигурации
		ul
			h4 так же установлена и настроена БД MySql на Ubuntu в 2х вариантах:
			li в качестве гостевой ОС на virtualbox - ubuntu server 18.04
			li на десктопной версии ubuntu 19.04
		h3 Полезные ссылки:
		.link-ajax
			a(href='https://websofter.ru/otpravka-ajax-zaprosov-k-servletu-java/') Обработка Ajax запросов
		.link-tree
			a(href='https://javascript.ru/ui/tree#shag-2-dva-uzla-dereva') Построение дерева