.infopage {
    border: 1px solid #a59b9b;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    overflow: hidden;
}

.infopage-content {
    border: 1px solid blue;
    flex: 1 1;
    padding: 4px 12px 10px 4px;
    display: flex;
}

.infopage-content>textarea {
    width: 100%;
    height: 100%;
}