extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var h1_title = 'Заголовок на главной странице'

block content
	a(href='https://websofter.ru/otpravka-ajax-zaprosov-k-servletu-java/') обработка Ajax запросов
	p Тудом сюдом контент на главной странице