extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'
	- var h1_title = 'Заголовок на главной странице'

block content
	.main-page
		h3 Полезные ссылки:
		.link-ajax
			a(href='https://websofter.ru/otpravka-ajax-zaprosov-k-servletu-java/') Обработка Ajax запросов
		.link-tree
			a(href='https://javascript.ru/ui/tree#shag-2-dva-uzla-dereva') Построение дерева