extends template/main

block variables
    - var title = 'Информация'
    - var pageClass = 'info-page'
    - var h1_title = 'Инфа'

block content
    .content-menu
        include modules/navigation/content-menu-nav
        .content-menu-list
    .content-info-container
        .content-info
            p Страница не выбрана
    include modules/dialogs/add-info/content-add-info-window
block script
    //script(src="static/js/infopage.js")
    script(src="static/js/info.js")