extends template/main

block variables
    - var title = 'Информация'
    - var pageClass = 'info-page'
    - var h1_title = 'Хранилище'

block content
    .content-menu
        include modules/navigation/content-menu-nav

        ul(class='content-menu-list')
            li(name='Общая инфа') Общая информация
            li(name='ссылка 2') info2
            li(name='ссылка 3') info3
            li(name='нипанятно') Нет в базе
            li(name='GET_MENU_ITEMS') Показать всё
    .content-info
        p Тудом сюдом контент на странице информации
    include modules/dialogs/add-info/content-add-info-window
block script
    script(src="static/js/infopage.js")