extends template/main

block variables
    - var title = 'English'
    - var pageClass = 'english-page'
    - var h1_title = 'English'

block content
    .english
        .english-add
            .english-add-en
                p Введи Eng фразу
                input(type='text' name='action')
            .english-add-ru
                p Введи Rus перевод
                input(type='text' name='action')
            .english-add-button
                input(type='button' value='Запомнить')


        //.choise_action
        //        form(name='action-name')
        //            input(type='radio' name='action' value='add-phrase')
        //            p Добавить фразу
        //            input(type='radio' name='action' value='add-word')
        //            p Добавить слово
        //    .add_phrase
        //        form(name='add-phrase' method='post' action='input.html')
        //            h3 Добавление фразы
        //            p Введи фразу на английском
        //            input(name='english' type='text')
        //            p Введи перевод
        //            input(name='russian' type='text')
block script
    script(src="static/js/learn-english.js")