extends template/main

block variables
    - var title = 'Планировщик'
    - var pageClass = 'planing'
    - var h1_title = 'Планировщик'

block content
    .planing
        p планировщик тудом сюдом
block script