.content-add-info-window
    .content-add-info-window-content
        .content-add-info-window-content-top
            .content-add-info-window-content-top-line1
                .content-add-info-window-content-top-line1-left
                    p Введи заголовок
                .content-add-info-window-content-top-line1-right
                    input(id='btn-cancel' type='button' value='X')
            .content-add-info-window-content-top-line2
                .content-add-info-window-content-top-line2-input
                    input(id='text-title' class='input-text' type='text')
        .content-add-info-window-content-center
            p А тут текст
            textarea(id='text-content' class='input-text')
        .content-add-info-window-content-down
            .content-add-info-window-content-down-errormsg
                p Ошибка! Заполнены не все поля
            .content-add-info-window-content-down-btnok
                input(id='btn-ok' type='button' value='OK')