@font-face {
    font-family: 'MainFont';
    src: local('MainFont'), url(./fonts/vetka.otf) format('opentype');
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(62, 140, 42, 0.74)
}
.content-container {
    display: flex;
    justify-content: space-between;
}
