.button-control             {   border:             1px solid #77778e;
                                padding:            2px 4px 2px 4px;
                                border-radius:      8px;
                                margin:             0 0 0 5px;
                                min-width:          20px;
                                text-align:         center; }
.button-control#btn-add     {   background-color:   #96e89d;}
.button-control#btn-remove  {   background-color:   #ffbabd;}
.button-control#btn-edit    {   background-color:   #a4baff;}