/*
|-----------------------------------------------------
| Expand |


 */
.t-container {  // контейнер просто содержит узлы. Сам узел будет содержать свои отступы
  padding: 0;
  margin: 0;
}
.t-container li {
  list-style-type: none; // убрать кружочки/точечки
}
.t-node {
  margin-left: 18px;  // отступ от левой части контейнера (для составления иерархии)
  zoom: 1;            // спецсвойство против багов IE 6, 7
}
.t-isRoot {
  margin-left: 0;     // корневой элемент без отступа
}
/*  принцип двухколоночной вёрстки
    float:left и width дива Expand + margin-left дива Content  */

.t-expand {           // колонка с иконкой
  width: 18px;
  height: 18px;
  float: left;
}
.t-content {

}