.tree
    ul.t-container
        li.t-node.t-isRoot.t-expandOpen
            .t-expand
            .t-content Root
            ul.t-container
                li.t-node.t-expandLeaf
                    .t-expand
                    .t-content Item 1